body {
    margin: 0;
}

.hero-section, .footer, .nav-bar {
    background-color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.nav-content h2 {
    font-size: 24px;
    color: #F9FAF8;
    /*margin-top: 0; /*deletes the white space created at the top of the site */
}

.nav-content { /*positions the text and gives it color*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
}

.nav-bar ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.nav-bar a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    width: 1250px;
    gap: 24px;
}

.hero-text {
    flex-basis: auto;
}

.hero-text > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text > p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-img {
    flex-basis: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 24px;
}

.hero_btn {
    border: none;
    border-radius: 6px;
}