body { /*Removes white space around the page*/
    margin: 0;
}

.hero-section, .footer, .nav-bar { /*Colors the hero, footer and navbar section's backgrounds*/
    background-color: #1F2937;
}

.quote-section { /*Colors the quote section's background*/
    background-color: #E5E7EB;
}

.nav-content h2 {
    font-size: 24px;
    color: #F9FAF8;
    /*margin-top: 0; /*deletes the white space created at the top of the site */
}

.nav-content { /*positions the text and gives it color*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
}

.nav-bar ul{ /*removes list dots and places them horizontaly*/
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.nav-bar a { /*styles the links in the navbar*/
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section { /*centers the content inside the background*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


.hero-content { /*Puts text and placeholder side-by-side*/
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    width: 1250px;
    gap: 24px;
}

.hero-text { /*Makes the text equal to img placeholder in proportion*/
    flex-basis: 50%;
}

.hero-text > h1 { /*Styles the h1 and removes bottom empty space*/
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.hero-text > p { /*Styles the text under the h1 and creates space around it*/
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.hero-img { /*Creates the placeholder for an image*/
    flex-basis: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

button { /*Basic style to all buttons*/
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 24px;
}

.hero_btn { /*Makes the button in hero section borderless and rounded*/
    border: none;
    border-radius: 6px;
}

.information-section { /*h2 above and centers the rest*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

.information-section > h2 { /*Styles the Information Section h2*/
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.all_info { /*displays the cards in row format*/
    display: flex;
    justify-content: center;
    padding-top: 16px;
    gap: 56px;
    width: 75%;
}

.img_border { /*Creates the image border*/
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.info_card { /*Places the text under, centers it and makes the card 200px wide*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.quote-section { /*Centers the content in the quote section*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote { /*Styles the quote text*/
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 75%;
    margin-bottom: 0;
}

.quote_author { /*Styles and aligns the quote author text*/
    font-weight: 800;
    font-size: 32px;
    width: 75%;
    text-align: end;
    margin-top: 0;
}

.content { /*Centers the content and places it in a column instead of row*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 64px 300px;
}

.cta-section { /*Centers the content inside the cta section and adds whitespace at top and bottom to space from other sections*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

#cta_banner { /*Styles the cta banner*/
    background-color: #3882F6;
    width: 1250px;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    border-radius: 8px;
}

.left_text > p { /*Styles the text in the cta section*/
    color: #F9FAF8;
    margin: 4px;
}

#bold { /*Makes a part of the text bigger than the rest*/
    font-weight: 800;
    font-size: 24px;
}

#cta_btn { /*Styles the button in cta banner*/
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 0 56px;
}

.footer { /*Centers the stuff in the footer*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p { /*Styles the text in the footer*/
    color: #F9FAF8;
    margin: 24px;
}